@import "tailwindcss";

@theme {
  --color-background: #F5F5F5;
  /* Blanc cassé luxueux */
  --color-foreground: #1A1A1A;
  /* Noir profond */
  --color-accent: #D4AF37;
  /* Or mat */
}

:root {
  --background: #F5F5F5;
  --foreground: #1A1A1A;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
}

/* On définit notre bouton avec la nouvelle syntaxe CSS de Tailwind v4 */
@layer components {
  .btn-gold {
    @apply bg-[var(--color-accent)] text-white px-6 py-2 rounded-sm hover:bg-[#B8860B] transition-all duration-300 uppercase tracking-widest text-sm font-bold;
  }
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}